.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  max-width: 500px;
  padding: 1rem;
}

.content {
  flex-grow: 1;
}

.panel {
  margin-top: 1rem;
}

h1,
span {
  color: cadetblue;
}

h1,
footer {
  text-align: center;
}

input {
  border: none;
  border-bottom: 2px solid cadetblue;
  margin: 1rem;
  padding: 0.5rem;
}

input:focus {
  background-color: rgba(95, 158, 160, 0.3);
  outline: none;
}

input[type="number"] {
  width: 4rem;
  border: 2px solid cadetblue;
  border-radius: 0.5rem;
}

fieldset {
  border-radius: 1rem;
  text-align: center;
  padding: 5rem;
  color: cadetblue;
  border: 2px solid cadetblue;
}

legend {
  color: #333333;
  font-weight: bold;
  padding: 0 1rem;
}

select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid cadetblue;
  background-color: white;
  outline: none;
  margin: 1rem;
}

code {
  display: block;
  background: #333333;
  color: #f4f4f4;
  padding: 1rem;
}

.slider {
  margin: 0 2rem;
  padding: 0;
  background: cadetblue !important;
  outline: none;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
}
